body {
  box-sizing: border-box;
  background-color: #d4e0ef;
  padding: 20px;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 56px;
  color: #0d93e1;
  margin-bottom: 30px;
}

h3 {
  display: flex;
  align-items: left;
  padding: 2px 5px;
}

.card-container {
  background: #f6f6f6;
  max-width: 750px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view-pages {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 1rem;
  padding: 12px 28px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.current-bug-button {
  color: green;
  background: white;
  margin-right: 10px;
}

.add-bug-button {
  background: #c3c361;
  color: white;
  margin-left: 10px;
}

.current-bug-button.active {
  /* Apply styling for the active button */
  background-color: #0d93e1;
  color: white;
}

.add-bug-button.active {
  /* Apply styling for the active button */
  background-color: #c3c361;
  color: white;
}